<div class="depot_form">

  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
    <fieldset>
      <legend>Пожалуйста, войдите</legend>
      <div class="field">
        <%= label_tag :name, 'Имя:' %>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div class="field">
        <%= label_tag :password, 'Пароль:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div class="field">
       <%= submit_tag "Войти" %>
      </div>
    </fieldset>
  <% end %>
</div>
