
Уважаемый(ая) <%= @order.name %>

Администрация магазина благодарит Вас за недавний заказ.
Вы заказали следующий товар:

<%= render @order.line_items %>

Когда Ваш заказ будет отправлен, мы пошлем Вам по электронной почте отдельное сообщение.
