
<%= form_for(@order, html: {data: {abide: ""}, class: "custom order"} ) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>Внимание! Исправте слудующие <%= Russian.pluralize(@order.errors.count, "ошибка", "ошибки", "ошибок")  %> в форме заказа:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  <div class="row">    

    <div class="large-6 columns">

      <h2>
        1. Проверьте ваш заказ
      </h2>
      <table>
        <tbody>
          <% @cart.line_items.each do |line_item| %>
            <tr id="<%= line_item.id %>">
              <td class="image">          
                  <%= image_tag line_item.product.image.url(:thumb) %>          
              </td>
              <td >    
                <b class="quantity">
                  <%= line_item.quantity %>
                </b>
                &times;
                <%= line_item.product.title %>
                <br>
                <b class="total_sum">
                  <%= number_to_currency(line_item.quantity*line_item.product.price) %>
                </b>
              </td>
            </tr>
          <% end %>
          <tr>
          <th></th>
          <th>
            Итого:
            <%= number_to_currency(@cart.total_price) %>
          </th>
        </tr>
        </tbody>
      </table>

      <h2>
        2. Выберите способ получения
      </h2>
      <div class="delivery">

        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#panel1">Заберу<br>самостоятельно</a></li>
          <li class="tab-title"><a href="#panel2">Заказать<br>доставку</a></li>
        </ul>

        <div class="tabs-content">
          <div class="content active" id="panel1">
            <fieldset>
              <legend>Выберите магазин:</legend>    

              <input type="radio" name="delivery" value="1" id="delivery_1" class="radio">
              <label for="delivery_1">проспект Пятилеток, 2 (м. пр. Большевиков) (бесплатно)</label>

              <input type="radio" name="delivery" value="2" id="delivery_2" class="radio">
              <label for="delivery_2">ТЦ «Июнь», Индустриальный проспект, 24 (м. Ладожская) (бесплатно)</label>  

            </fieldset>
            <div class="map hidden">
              <div id="map" style="width: 100%; height: 400px;">          
              </div>          
            </div>
          </div>        
          <div class="content" id="panel2">
            <fieldset>
              <legend>Способ доставки:</legend>

              <input type="radio" name="delivery" value="101" id="delivery_101" class="radio">
              <label for="delivery_101">
                В пределах КАД - 300р. (бесплатно при заказе от 1000р.)
              </label>

              <input type="radio" name="delivery" value="102" id="delivery_102" class="radio">
              <label for="delivery_102">
                В пределах ЛО - 600р. (бесплатно при заказе от 3000р.)
              </label>

            </fieldset>
            <fieldset>
              <legend><%= t('delivery_address') %>:</legend>
              <div class="field">
                <%= f.label :index, I18n.t('.index') %>
                <%= f.text_field :index, placeholder: I18n.t('.ex_index') %>
              </div>
              <div class="field">
                <%= f.label :city, I18n.t('.city') %>
                <%= f.text_field :city, placeholder: I18n.t('.ex_city') %>
              </div>
              <div class="field">
                <%= f.label :street, I18n.t('.street') %>
                <%= f.text_field :street, placeholder: I18n.t('.ex_street') %>
              </div>
              <div class="field">
                <%= f.label :house, I18n.t('.house') %>
                <%= f.text_field :house, placeholder: I18n.t('.ex_house') %>
              </div>
              <div class="field">
                <%= f.label :apartment, I18n.t('.apartment') %>
                <%= f.text_field :apartment, placeholder: I18n.t('.ex_apartment') %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>

    <div class="large-6 columns">
      <h2>
        3. Заполните контактную информацию
      </h2>
      <fieldset>
        <legend><%= t('contact_info') %>:</legend>
        <div class="field">
          <%= f.label( :name, ( I18n.t('full_name') + ' <small>' + I18n.t('required') + '</small>' ).html_safe ) %>
          <%= f.text_field :name, placeholder: I18n.t('.ex_full_name'), required: "" %>
          <small class="error">Поле обязательно для заполнения</small>
        </div>
        <div class="field">
          <%= f.label :email, ( I18n.t('email') + ' <small>' + I18n.t('required') + '</small>' ).html_safe %>
          <%= f.email_field :email, placeholder: I18n.t('.ex_email' ), pattern: 'email', required: "" %>
          <small class="error">Пожалуйста, введите корректный email</small>
        </div>
        <div class="field">
          <%= f.label :phone, ( I18n.t('phone') + ' <small>' + I18n.t('required') + '</small>' ).html_safe %>  
          <%= f.text_field :phone, placeholder: I18n.t('.ex_phone'), pattern: '^[+]?[7]{1}\d{10}$|^[8]{1}\d{10}$', required: "" %>
          <small class="error">Пожалуйста, введите номер телефона в формате +79998886677</small>
       </div>
      </fieldset>
      <fieldset>
        <legend><%= t('additionally') %>:</legend>
        <div class="field">
          <%= f.label :comment, I18n.t('.comment') %>
          <%= f.text_area :comment %>
        </div>
        <div class="field">
          <%= f.label :subsribe, I18n.t('subsribe') %>
          <%= f.check_box :subsribe, {:checked => "checked"}   %>
        </div>
      </fieldset>
       
      <div class="actions">
        <%= f.submit I18n.t('place_order'), class: "button success right" %>
      </div>
    </div>

  </div>
  
<% end %>
