<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @order.index %>, <%= @order.city %>, <%= @order.street %>, <%= @order.house %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Комментарий:</strong>
  <%= @order.comment %>
</p>

<p>
  <strong>Подписка:</strong>
  <%= @order.subsribe %>
</p>

<table class="main_cart">
  <tr>
    <th>
      Товар
    </th>
    <th>
      Количество
    </th>
  </tr>
  <% @order.line_items.each do |line_item| %>  
    <tr>                
      <td>
        <%= link_to line_item.product.title, line_item.product %>
      </td>
      <td>
        <%= line_item.quantity %>
      </td>
    </tr>
  <% end %>

</table>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
