<% if @cart %>

  <div id="bottom" class="hide-for-small-only">
    <div class="row">
      <div class="cart">
          
          <% if @cart.total_products==0 %>
            <span>Ваша корзина пуста.</span>
          <% else %>
              В вашей <%= link_to "корзине", @cart %>
              <span>
                <%= link_to @cart do %>
                  <b><%= @cart.total_products  %> </b>
                  <%= Russian.pluralize(@cart.total_products,"товар", "товара", "товаров") %>  
                <% end %>
              </span>
              на сумму  
              <span>
                <b> <%= number_to_currency(@cart.total_price) %> &nbsp</b>
              </span>
            
              <% if (defined?(show_btn_continue)) %>
                <% if (show_btn_continue.to_i==1) %>
                  <%= link_to "Купить ещё", store_path, class: "small button", id: "order_button" %>
                <% else %>
                  <%= link_to "Корзина", @cart, class: "small button", id: "order_button" %>
                <% end %>

              <% else %>
                <%= link_to "Корзина", @cart, class: "small button", id: "order_button" %>
              <% end %>
          <% end %>
      </div>
    </div>
  </div>

  <div id="bottom_mobile" class="show-for-small-only">
    <% if @cart.total_products!=0 %>
      <% if (defined?(show_btn_continue)) %>
        <% if (show_btn_continue.to_i==1) %>
          
        <% else %>
          <%= link_to @cart, class: "tiny button", id: "order_button" do %>
            <%= image_tag("cart.png") %> 
          <% end %>
        <% end %>

      <% else %>
        <%= link_to @cart, class: "tiny button", id: "order_button" do %>
          <%= image_tag("cart.png") %> 
        <% end %>
      <% end %>
    <% end %>
  </div>

<% end %>