<table class="main_cart">
  
  
  <%= render(@cart.line_items) %>

   <tr>
    <th></th>
    <th>
      Всего:
      <%= number_to_currency(@cart.total_price) %>
    </th>
    <th>   
    </th>
  </tr>
</table>
<%= button_to "Оформить заказ", new_order_path, method: :get, class: "button success right" %>   

