/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
.hidden{
  display: none !important;
}
div.off-canvas-wrap, div.inner-wrap{
  min-height: 400px;
}
div#bottom{
  background-color: #ECECEC;
  min-height: 60px;
  width: 100%;
  line-height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 199;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0,0, 0.19);
  padding: 0 10px;
  text-align: right;
}
div#bottom_mobile{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 199;
}
div#bottom_mobile a{
  width: 40px;
  height: 40px;
  padding: 0;
  margin:10px;
  border-radius: 40px
}
div.main{
  margin-bottom: 140px;
  padding: 0 20px;
}
.z-depth-1, fieldset{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form{
  max-width: 500px;
}
.field input{
  margin-bottom: 0.5rem
}
.button{
  transition-property: all, background-color;
  transition-duration: 0.25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.button:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a.button{
  color:  #fff;
}
a.delete.button:before, a.edit.button:before{
  font-size: 120%;
  font-weight: bold;
}
a.delete.button:before{
  content: "× ";
}
a.edit.button:before{
  content: "✎ ";
}


.sticky{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

div.contain-to-grid .sticky{
  min-height:46px;
}

.sticky.fixed, .sticky:hover{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 999;
}
.top-bar-section .dropdown {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clearfix:after{
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/************** TOP LINKS ****************/
#top_panel{
  height: 41px;
  background-color: #333;;
  font-size: 12px;
  max-height: 41px;
  a{
    color: #B3B3B3;
  }
  a:hover{
    color: #1E85DA;
    text-decoration: underline;
  }
  .auth{
    float: right;
    padding: 11px 10px;    
  }
  .top_links{

    .top_links-item{
      display: inline-block;
      padding: 11px 10px;
      
    }
  }
}
/************** /TOP LINKS ***************/



/************** nav.breadcrumbs **********/

nav.breadcrumbs a:visited{
  color: #007095;
}

/************** /nav.breadcrumbs *********/

/************** Catalog ****************/

ul.catalog{
  background: #333333;
  li{
        border-bottom: 1px solid #4E4E4E;
  }

}

.contain-to-grid {
    border-bottom: 1px solid #4E4E4E;
}
/************** /Catalog ***************/