// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.current_cat{
  background-color: #007095;
  font-weight: bold;
  padding: 3px;
}
a.current_cat:after{
  content: " ←"
}
a.current_cat:before{
  content: "→ "
}
a.current_cat, a.current_cat:hover, a.current_cat:visited{
  color: #fff !important;
}
a.parent-link{
  font-weight: bold !important;
}
a.parent-link:after{
  content: " ↓"
}
.subcat{
  font-weight: bold;
  ul{
    display: none;
  }
}