// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.image{
  width: 75px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
}
a.line_btns{
  display: inline-block;
  margin: 4px;
  width: 32px;
}
a.line_btns:hover{
  background-color: transparent;
  border: 1px dashed #222222;
}