// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
[class*="block-grid-"] > li {
   padding: 0;
}
.product.panel{
  height: 350px;
  max-width: 300px;
  position: relative;
  background-color: #FDFDFD;  
  transition: all ease-in-out 0.15s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.product.panel:hover{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
}
.product.panel input.buy_product, .product.panel ul.button-group{
  position: absolute;
  bottom: 0;  
  right: 20px;
  display: none
}
.product.panel ul.button-group{
  width: 100%;
  text-align: center;
}
.product.panel:hover input.buy_product, .product.panel:hover ul.button-group{
  display: block; 
}
.product.panel:hover .product_price{
  display: none;  
}
.product_price{
  font-size: 18px;
}
.product.panel div.title{
  height: 60px;
}
.product.panel p a{
  display: block;
  height: 50px;
}
.product.panel .description{
  opacity: 0;
  width: 100%;
  position:absolute;
  transition-timing-function: cubic-bezier(0.49, 0.21, 0.63, 0.99);
  transition-property: background-color;
  transition-duration: 0.35s;
}
.product.panel:hover .description{
  display: block;
  opacity: 0.85;
  background-color: #FDFDFD;
  height: 200px;
}
.product.panel p a{
  color: #222222;
}
.product.panel p a:hover{
  color: #222222;
  background-color: transparent;
}
.description a{
  display: block;
  color: #222222;
  height: 200px;
}
.product.panel .im_desc{
  position:relative;
  height: 210px;
}
.product.panel .image{
  text-align: center;
  display: table-cell;
  width: 2000px;
  vertical-align: middle;
  height: 200px;
}