// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui-effects-transfer {
  border: 1px dotted #008CBA;
  background-color: rgba(216, 216, 216, 0.2);
  z-index: 299;
}