<%= link_to category.title, category, remote: true, id: "category_#{category.id}" %>
<% if category.subcategories.length > 0 %>
  <ul>
    <% category.subcategories.each do |subcat| %>
      <li>
        <%= render('categories/all_categories', category: subcat ) %>
      </li>
    <% end %>
  </ul>
<% end %>


