
<h5>
  <%= link_to category.title, edit_category_path(category) %>
</h5>
<% if category.subcategories.length > 0 %>
  <ul>
    <% category.subcategories.each do |subcat| %>
      <li>
        <%= render('categories/all_categories_edit', category: subcat ) %>
      </li>
    <% end %>
  </ul>
<% end %>


