<%= link_to category.title, category, remote: true, id: "category_#{category.id}" %>
<ul id="subcategorys_<%= category.id %>">
  <% if category.subcategories.length > 0 %>
    <% category.subcategories.each do |subcat| %>
      <li>
        <%= render('categories/all_categories', category: subcat ) %>
      </li>
    <% end %>
  <% end %>
</ul>


