<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @category.id != 1 %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    
    <div class="field">
      <%= f.label :parent_id %>
      <% if params[:parent_id].present? then @category.parent_id = params[:parent_id] end %>
      <%= f.text_field :parent_id, class: "hidden category_id_input", value: @category.parent_id %>
      <%= render('categories/all_categories', category: Category.find(1)) %>
      <script type="text/javascript">
        // Получаем значение текущего предка категории
        curr_cat = $('.category_id_input').val();
        // Если мы создаем новую категорию
        if (!0<%= @category.id %>){
          $('#category_title').val("Новая категория")
          $("ul#subcategorys_"+curr_cat).append("<li class='subcat'>"+$('#category_title').val()+"</li>");          
        }else{ // Либо удаляем вложенные категории
          $('#category_<%= @category.id %>').parent().remove();
          $("ul#subcategorys_"+curr_cat).append("<li class='subcat'>"+$('#category_title').val()+"</li>"); 
        }
        // Вставляем класс для выделения
        $('#category_'+curr_cat).addClass('current_cat');
        // Выделяем редактируемую категорию
        $('#category_<%= @category.id %>').parent().addClass('subcat');
        // Отслеживаем изменение названия
        $(document).on('input', '#category_title', function() {$('li.subcat').html($('#category_title').val());});
      </script>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "tinymce", rows: 10 %>
    <%= tinymce :description %>
  </div>

  <div class="actions">
    <ul class="button-group">
      <li>
        <%= link_to '←Назад', categories_path, class: "button secondary" %>
      </li>

      <li>
        <%= f.submit "Сохранить", class: "button" %>
      </li>
    </ul>

  </div>
<% end %>
