
<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: true, custom_back_text: true, back_text: <<<">
    <ul class="title-area">
      <li class="name">

      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Каталог</span></a></li>
    </ul>
    <section class="top-bar-section">

      <ul class="left catalog"> 
        <li class="divider"></li>
        <li>
          <%= link_to "Все товары", store_index_path %>
        </li>  
        <li class="divider"></li>
        <% category.subcategories.each do |subcat| %>                  
          <%= render('categories/menu_items', category: subcat ) %>  
        <% end %>
      </ul>
    </section>

  </nav>
</div>