


<% if category.subcategories.length > 0 %>
    <li class="has-dropdown"> 
      <%= link_to category.title, category %>
      <ul class="dropdown">
      <% category.subcategories.each do |subcat| %> 
        <%= render('categories/menu_items', category: subcat ) %>     
      <% end %>
      </ul>  
    </li>
  <% else %>
    <li>
      <%= link_to category.title, category %>
    </li>  
 <% end %>
<li class="divider"></li>


