<h1><%= @category.title %> - редактирование</h1>

<%= render 'form' %>

<%= link_to 'Удалить', @category, method: :delete, data: { confirm: "Удалить категорию \"#{@category.title}\"?" }, class: "delete tiny button alert" %>
