<p id="notice"><%= notice %></p>

<h1>Управление категориями</h1>

<%= render('categories/all_categories_edit', category: Category.find(1)) %>



<%= link_to 'Добавить категорию', new_category_path, class: "button" %>

<h2>Потерянные категории</h2>

 <ul>
  <% @categories.each do |category| %>
    <% if category.id == category.parent_id %>
      <li>
        <%= link_to category.title, edit_category_path(category), id: "category_#{category.id}" %>
      </li>
    <% end %>  
  <% end %>
</ul>