<% content_for :title do %>
  <%= @category.title %>
<% end %>

<p id="notice"><%= notice %></p>
<% @paginatable_products = Kaminari.paginate_array(@products).page(params[:page]).per(12) %>
<h1><%= @category.title %></h1>
<% if User.find_by(id: session[:user_id]) %>
<%= link_to 'Редактировать', edit_category_path(@category.id), class: "tiny button" %>
  <%= link_to 'Добавить подкатегорию', new_category_path(parent_id: @category.id), class: "tiny button" %>
  <%= link_to 'Добавить товар', new_product_path(category_id: @category.id), class: "tiny button" %>
<% end %>
<% if @paginatable_products.length > 0 %>
  <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
  <% @paginatable_products.each do |product| %>
    <%= render 'products/product', product: product %>
  <% end %>
  </ul>
  <p>

    <%= paginate @paginatable_products %>
  </p>
<% else %>
  <p>
    <b>В данной категории пока нет товаров.</b>
  </p>
<% end %>
<%= @category.description %>
