
$('.category_id_input').val( <%= @category.id %> );
$('.current_cat').removeClass('current_cat');
$('a#category_<%= @category.id %>').addClass('current_cat');

// Если мы находимся на странице редактирования категорий
if ( $('#category_title').length > 0 ) {
  $('.subcat').remove();
  $("ul#subcategorys_<%= @category.id %>").append("<li class='subcat'>"+$('#category_title').val()+"</li>");
}else{

}