
<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Основная информация:</legend>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :producer %><br>
      <%= f.text_field :producer %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => "tinymce", rows: 12 %>
      <%= tinymce :description %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :volume %><br>
      <%= f.text_field :volume %>
    </div>
    <div class="field">
      <%= f.label :units %><br>
      <%=  f.select :units, Product::UNIT_TYPES, prompt: 'Выберите из списка:' %>
    </div>
    <div class="field">
      <%= f.label :category_id %> <br>
      <% if params[:category_id].present? then @product.category_id = params[:category_id] end %>
      <%= f.text_field :category_id, :class => 'hidden category_id_input', value: @product.category_id %>
      <%= render('categories/all_categories', category: Category.find(1)) %>
      <script type="text/javascript">
        curr_cat = $('#product_category_id').val();
        $('#category_'+curr_cat).addClass('current_cat');
      </script>
    </div>
    <div class="field">
      <%= f.label :country %><br>
      <%= f.text_field :country %>
    </div>
    <div class="field">
      <%= f.label :article %><br>
      <%= f.text_area :article, :class => "tinymce", rows: 12 %>
     </div>
  </fieldset>
  <fieldset>
    <legend>Изображение:</legend>
    <p class="text-center">
      <%= image_tag @product.image.url(:medium) %>
    </p>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
      
    </div>
  </fieldset>
  <fieldset>  
  <div class="actions">
    <ul class="button-group">
      <li>
        <%= link_to '←Назад', products_path, class: "button secondary" %>
      </li>
      <li>
        <%= f.submit "Сохранить", class: "button" %>
      </li>
    </ul>
  </div>
<% end %>
<%= button_to 'Удалить товар', @product,  method: :delete, data: { confirm: 'Вы уверены?'}, class: "button" %>