<li>
  <div id="product_<%= product.id %>" class="product panel">

    <div class="im_desc">
      <div class="description">
        <%= link_to (sanitize(strip_tags(product.description).first(128))+"..."), product_path( id:  product.get_url ), title: product.title %>
      </div>  
      <div class="image">
        <%= image_tag product.image.url(:medium) %>
      </div>
    </div>
    <p>
      <%= link_to product_path( id:  product.get_url ), title: product.title do  %> 
       <b> <%= product.producer %> </b> - <%= (product.title.first(54)) %>
       <% end %>
    </p>
    <p class="product_price">
      <span class="right"><%=  number_to_currency(product.price) %></span>
    </p>  
    <% if User.find_by(id: session[:user_id]) %>
      <%= link_to "Править", edit_product_path(product), class: "tiny button buy_product" %>
    <% else %>
      <% if product.line_items.where(cart_id: session[:cart_id]).length==0 %>
        <%= button_to "Купить", line_items_path(product_id: product), class: "tiny button buy_product", remote:true %>
      <% else %>
        <%= button_to "Добавлено #{product.line_items.where(cart_id: session[:cart_id]).first.quantity}шт.", line_items_path(product_id: product), class: "tiny button success buy_product", remote:true %>
      <% end %>
    <% end %>
    
  </div>
</li>