%nav.breadcrumbs
  =link_to "Главная", "/"
  =link_to "Каталог", category_path(1)
  -category.get_all_parents.each do |parent|
    =link_to parent.title, category_path(parent)
  =link_to category.title, category_path(category)