<p id="notice"><%= notice %></p>

<h1>Панель управления товарами</h1>

<%= link_to 'Добавить товар', new_product_path, class: "button success right" %>

<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4 xlarge-block=grid-5">
  <% @products.each do |product| %>
    <%= render 'products/product', product: product %>
  <% end %>
</ul>

<h2>Товары - потеряшки</h2>

<ol>
  <% @products.each do |product| %>
    <% if (product.category.get_all_subcats_ids.length != 0) || (product.category.id == 1) %>
      <li>
      <%= link_to product.title, edit_product_path(product) %>
      </li>
    <% end %>
  <% end %>
</ol>