
<p id="notice"><%= notice %></p>



<div id="product_<%= @product.id %>" class="row">
  

  

  <div class="medium-3 large-4 columns" style="text-align:center;">
    <%= image_tag @product.image.url() %>
  </div>
  <div class="medium-9 large-8 columns">
    <%= render 'product_path', category: Category.find(@product.category.id) %>
    <h1>
      <%= @product.title %>
    </h1>
    <p>
      <strong><%= @product.producer %></strong>
      
    </p>
    <p>
      <%= sanitize(@product.description) %>
    </p>
  
    <p>
    <strong>Цена:</strong>
      <%= number_to_currency(@product.price) %> за <%= (@product.volume.to_i.to_s + @product.units)  %>
    </p>
 

    <% if @product.country.to_s != "" %>
      <p>
        <strong>Страна происхождения:</strong>
        <%= @product.country %>
      </p>
    <% end %>

    <ul class="button-group">
      <li>
        <%= link_to '←Назад', 'javascript:history.go(-1);', class: "secondary button" %>
      </li>
      <% if User.find_by(id: session[:user_id]) %>
        <%= link_to 'Править', edit_product_path(@product), class: "button" %> 
      <% else %>
        <li>
          <% if @product.line_items.find_by(cart_id: session[:cart_id]) %>
            <%= button_to ("Добавлено " + @product.line_items.find_by(cart_id: session[:cart_id]).quantity.to_s + " шт."), line_items_path(product_id: @product.id), class: "success button buy_product", remote:true %>
          <% else %>
            <%= button_to "Купить→", line_items_path(product_id: @product.id), class: "button buy_product", remote:true %>
          <% end %>
        </li>
      <% end %>  
    </ul>
  </div>
</div>
<% if @product.article.to_s.length > 0 %>
  <div id="article_<%= @product.id %>" class="row">
    <%= sanitize(@product.article) %>
  </div>
<% end %>



