<tr id="<%= line_item.id %>">
  <td class="image">
    <%= link_to line_item.product do %>
      <%= image_tag line_item.product.image.url(:thumb) %>
    <% end %>
    
  </td>
  <td >   
    <b class="quantity">
      <%= line_item.quantity %>
    </b>
    &times; 
    <%= link_to line_item.product.title, line_item.product %>
    <br>
    <b class="total_sum">
      <%= number_to_currency(line_item.quantity*line_item.product.price) %>
    </b>
  </td>
  <td>
    <%= link_to line_item_path(:id => line_item.id,:show_btn_continue => 1), method: :delete, :remote => true, class: "line_btns", title: "Удалить позицию" do %>
      <%= image_tag("delete.png") %>
    <% end %>
    <%= link_to line_items_path(product_id: line_item.product.id, id: line_item.id, add_sub: "subtract",show_btn_continue: 1), method: :post, :remote => true, class: "line_btns", title: "Убавить 1шт." do %>
      <%= image_tag("minus.png") %>
    <% end %>
    <%= link_to line_items_path(product_id: line_item.product.id, id: line_item.id, add_sub: "add", show_btn_continue: 1), method: :post, :remote => true, class: "line_btns", title: "Добавить 1шт." do %>
      <%= image_tag("add.png") %>
    <% end %>
  </td>
</tr>
