$('#notice').hide();
$('#bottom').html( "<%= escape_javascript( render partial: 'carts/bottom_cart', locals: { show_btn_continue: params[:show_btn_continue] } ) %>" );
$('.cart span').effect("highlight", {}, 1000);

if ($("#<%= @line_item.id %>").length > 0){
  $("#<%= @line_item.id %> .quantity").html("<%= @line_item.quantity %>");
  $("#<%= @line_item.id %> .total_sum").html(
    "<%= number_to_currency @line_item.quantity*@line_item.product.price %>");
  $(".total_price").html("<%= number_to_currency(@line_item.cart.total_price) %>");

  $(".total_price, #<%= @line_item.id %> .total_sum, #<%= @line_item.id %> .quantity").effect(
    "highlight", {}, 1000);
};

if ($("#product_<%= @line_item.product.id %> input.buy_product").length > 0){
	$("#product_<%= @line_item.product.id %> input.buy_product").val("Добавлено <%= @line_item.quantity %> шт.").addClass("success");
}