$('#bottom').html("<%= escape_javascript( render partial: 'carts/bottom_cart', locals: { show_btn_continue: 1 } ) %>");
$('.cart span').effect("highlight", {}, 1000);


if ($("#<%= @line_item.id %>").length>0){
    $('#<%= @line_item.id %>').remove();
};

if ($('table.main_cart tr').length<3) {
  window.location.assign("<%= store_url %>");
};