<p id="notice"><%= notice %></p>
<h1>Интернет магазин косметики</h1>
<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4 xlarge-block=grid-5">
  <% @products.each do |product| %>
    <%= render 'products/product', product: product %>
  <% end %>
</ul>

<p>
  <%= paginate @products %>
</p>

<script type="text/javascript">
  $(".tiny.button.buy_product").click(function() {
    $(this).parent().parent().effect("transfer", { to: $(".cart span") }, 1000 ); 
  }); 
</script>