

<li><label>Админка</label></li>
<li><%= link_to 'Просмор заказов', orders_path %></li>
<li><%= link_to 'Управление товарами', products_path %></</li>
<li><%= link_to 'Управление пользователями', users_path %></li>
<li><%= link_to 'Управление категориями', categories_path %></li>
<li><%= link_to 'Выйти', logout_path, method: :delete %></li>