
#top_panel.clearfix
  .row
    .auth
      - if (User.find_by(id: session[:user_id]).present?)
        =link_to "Выйти", logout_path, method: "delete"
      - else
        =link_to "Войти", login_path
    .top_links
      .top_links-item
        %a{title: "О компании", href: "#"} О компании
      .top_links-item
        %a{title: "Доставка", href: "#"} Доставка
      .top_links-item
        %a{title: "Наши магазины", href: "#"} Наши магазины
      .top_links-item
        %a{title: "Акции", href: "#"} Акции
      .top_links-item
        %a{title: "Контакты", href: "#"} Контакты
