<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Косметичка-СПб - интернет магазин косметики" %></title>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <%= render partial: 'carts/bottom_cart', locals: { show_btn_continue: params[:show_btn_continue], hide: params[:hide_bottom_card]  } %>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title"><%= content_for?(:title) ? yield(:title) : "Косметичка-СПб" %></h1>
          </section>

          <% if session[:user_id] %>
            <section class="right-small">
              <a class="right-off-canvas-toggle" href="#"><span><%= image_tag("cart.png") %> </span></a>
            </section>
          <% end %>

        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <%= render "layouts/menu" %>
          </ul>
        </aside>
        
        
        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <% if session[:user_id] %>
              <%= render "layouts/admin_menu" %>
            <% end %>
          </ul>
        </aside>
        

        <section class="main-section">

          <div class="category_nav">
            <%= render('categories/menu', category: Category.find(1)) %>
          </div> 

          <div class="main row">

            <%= yield %>
          </div>

        </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>
    
    

  </body>
</html>
