!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) + "- Косметичка-СПб." : "Косметичка-СПб - интернет магазин косметики"
    %script{:src => "http://api-maps.yandex.ru/2.1/?lang=ru_RU", :type => "text/javascript"}
    %link{:href => "/favicon.png", :rel => "icon", :type => "image/png"}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'carts/bottom_cart', locals: { show_btn_continue: params[:show_btn_continue], hide: params[:hide_bottom_card]  }
    = render "layouts/top_links"

    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.tab-bar
          /
            %section.left-small
              %a.left-off-canvas-toggle.menu-icon{:href => "#"}
                %span
          %section.middle.tab-bar-section
            %h1.title= content_for?(:title) ? yield(:title) : "Косметичка-СПб - интернет магазин косметики"
          - if session[:user_id]
            %section.right-small
              %a.right-off-canvas-toggle{:href => "#"}
                %span
                  = image_tag("cart.png")
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            = render "layouts/menu"
        %aside.right-off-canvas-menu
          %ul.off-canvas-list
            - if session[:user_id]
              = render "layouts/admin_menu"
        %section.main-section
          .category_nav
            = render('categories/menu', category: Category.find(1))
          .main.row
            = yield
            .yandexmetrica
              :javascript
                (function (d, w, c) {
                  (w[c] = w[c] || []).push(function() {
                      try {
                          w.yaCounter34698950 = new Ya.Metrika({
                              id:34698950,
                              clickmap:true,
                              trackLinks:true,
                              accurateTrackBounce:true,
                              webvisor:true,
                              trackHash:true
                          });
                      } catch(e) { }
                  });

                  var n = d.getElementsByTagName("script")[0],
                      s = d.createElement("script"),
                      f = function () { n.parentNode.insertBefore(s, n); };
                  s.type = "text/javascript";
                  s.async = true;
                  s.src = "https://mc.yandex.ru/metrika/watch.js";

                  if (w.opera == "[object Opera]") {
                      d.addEventListener("DOMContentLoaded", f, false);
                  } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
              %noscript
                %div
                  %img{:src => "https://mc.yandex.ru/watch/34698950", :style => "position:absolute; left:-9999px;", :alt => ""}
        %a.exit-off-canvas
